- if @project.mirror? && can?(current_user, :push_code, @project)
  .gl-mb-3
    - if @project.import_state.mirror_update_due?
      %span.btn.disabled
        = icon("refresh spin")
        Update Scheduled&hellip;
    - elsif @project.import_state.updating_mirror?
      %span.btn.disabled
        = icon("refresh spin")
        Updating&hellip;
    - elsif can?(current_user, :admin_project, @project)
      = link_to update_now_project_mirror_path(@project), method: :post, class: 'btn' do
        = icon("refresh")
        Update Now
    - else
      %span.btn.disabled
        = icon("refresh")
        Update Now
    - if @project.mirror_last_update_succeeded?
      %p.inline.prepend-left-10
        Successfully updated #{time_ago_with_tooltip(@project.import_state.last_successful_update_at)}.
